.App {
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #333;
}

h1, h2 {
  text-align: center;
  color: #ff6f00;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
